html, body {
    margin: 0;
    height: 100%;
}
#login-container {
    background-color: #F6F5F6 ;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    max-width: 500px;
}
body{
    padding: 10%;
    background: #8C7E94 no-repeat;

}
/*body{
    background: url('../images/reviews%20image.jpg');
    background-color: #E9EFDF;
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
}*/
#login{
    background: #6A5676;
}
#login:hover{
    background: #493355;
}