html, body {
    margin: 0;
    height: 100%;
}
body{
    padding: 10%;
    background: #8C7E94 no-repeat;
}
#table-container{
    background-color: #F6F5F6 ;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}