html, body {
    margin: 0;
    height: 100%;
}
body{
    padding: 5%;
    background: #8C7E94 no-repeat;
}
.container{
    background-color: #F6F5F6 ;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
.glyphicon-remove-circle{
    
    color:	rgba(255,0,0,0.4);
}
.glyphicon-remove-circle:hover{
    color: 	rgb(255,0,0);
}
#create-company{
    background: #6A5676;
}
#create-company:hover{
    background: #493355;
}
#pagination-demo{
    margin: 0;
}