<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin page</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script src="/javascript/jquery-3.1.1.min.js"></script>
    <script src="/javascript/bootstrap.min.js"></script>
    <script src="/javascript/admin.js"></script>
    <script src="/javascript/checkRole.js"></script>
    <script src="/javascript/bootstrap-confirmation.js"></script>
    <script src="/javascript/jquery.twbsPagination.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-1" style="margin-right: 20px;">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/records" class="glyphicon glyphicon-home"></a> </li>
                <li><a href="/company" id="companyLink">Companies</a></li>
                <li><a href="/users" id="userLink">Users</a></li>
                <li><a href="/records" id="recordLink">Records</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <button onclick="location.href = '/logout';" type="button"
                            class="btn btn-danger navbar-btn btn-sm center-block">Sign out
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <h3>All companies</h3>
    <hr/>
    <div class="table-responsive">
        <table class="table table-responsive table-hover table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="table-body">
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button id="create-company" type="button" class="btn btn-info bottom-left" data-toggle="modal"
                    data-target="#addCompanyModal">Add company
            </button>
        </div>
        <div class="col-md-6 text-right">
            <ul id="pagination" class="pagination-sm"></ul>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="addCompanyModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add company</h4>
                </div>
                <div id="modal-body" class="modal-body">
                    <input id="companyName" placeholder="Company name" type="text" class="form-control"/>
                    <br/>
                    <div id="message-container"></div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" onclick="createCompany();">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>