<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>MedReview</title>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/index.css"/>
    <script src="/javascript/jquery-3.1.1.min.js"></script>
    <script src="/javascript/bootstrap.min.js"></script>
</head>
<body>
<div id="login-container" class="container">
    <h4 class="text-center" style="margin-bottom: 30px;"><span class="glyphicon glyphicon-grain"></span>MEDREVIEW</h4>
    <hr/>
    <div class="alert alert-danger alert-dismissible" role="alert" th:if="${param.error}">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        Invalid username or password.
    </div>
    <div class="alert alert-success alert-dismissible" role="alert" th:if="${param.logout}">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        You have been logged out.
    </div>
    <form  th:action="@{/login}" method="post">
        <div class="form-group">
            <input placeholder="Login" class="form-control" name="username" type="text"/>
        </div>
        <div class="form-group">
            <input placeholder="Password" class="form-control"  name="password" type="password"/>
        </div>
        <button id="login" class="btn btn-primary center-block" type="submit">Login</button>
    </form>
</div>
</body>
</html>