<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>MedReview/main</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <script src="/javascript/jquery-3.1.1.min.js"></script>
    <script src="/javascript/bootstrap.min.js"></script>
    <script src="/javascript/checkRole.js"></script>
    <script src="/javascript/bootstrap-confirmation.js"></script>
    <script src="/javascript/jquery.twbsPagination.min.js"></script>
    <script src="/javascript/note.js"></script>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-1" style="margin-right: 20px;">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/company" id="companyLink">Companies</a></li>
                <li><a href="/users" id="userLink">Users</a></li>
                <li><a href="/records" id="recordLink">Records</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li style="margin-right: 50px;">
                    <!--Global search in all notes-->
                    <form method="get" action="/notes/results" class="navbar-form navbar-left">
                        <div class="input-group">
                            <input required type="text" class="form-control" name="t"
                                   placeholder="Search in all notes...">
                            <input hidden name="p" value="all">
                                  <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">Go!</button>
                                  </span>
                        </div>
                    </form>
                </li>
                <li>
                    <button onclick="location.href = '/logout';" type="button"
                            class="btn btn-danger navbar-btn btn-sm center-block">Sign out
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div id="table-container" class="container">
    <div id="record-header">
            <h3>All notes in <label th:text="${param.title}"></label></h3>
            <div class="dropdown">
                <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">Search
                    <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li>
                    <form method="get" action="/notes/results" class="navbar-form navbar-left">
                        <div class="input-group">
                            <input required type="text" class="form-control" name="t"
                                   placeholder="Search in all notes...">
                            <input hidden name="p" value="">
                                  <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">Go!</button>
                                  </span>
                        </div>
                    </form>
                    </li>
                </ul>
            </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Record info</div>
        <div class="panel-body">
            <h5>Record name: <label th:text="${param.title}"></label></h5>
            <h5>Record type: <label th:text="${param.type}"></label></h5>
        </div>
    </div>
    <hr/>
    <div class="table-responsive">
        <table class="table table-responsive table-hover table-striped">
            <thead>
            <tr>
                <th id="description">Description</th>
                <th id="conclusion">Conclusion</th>
                <th id="keywords">Keywords</th>
                <th id="subject">Category</th>
                <th id="subSubject">Sub-category</th>
                <th id="treatment">Treatment</th>
                <th id="creationDate">Date created</th>
            </tr>
            </thead>
            <tbody id="table-body">
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-md-6">
            <!--loadStatus(); -->
            <button id="addNoteButton" type="button"
                    onclick=" loadSubject(); loadSubSubject(); loadTreatment();"
                    class="btn btn-info bottom-left"
                    data-toggle="modal"
                    data-target="#creteNote">Add note
            </button>
        </div>
        <div class="col-md-6 text-right">
            <ul id="pagination" class="pagination-sm"></ul>
        </div>
    </div>

    <!--Modal for create note-->
    <div id="creteNote" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h3 id="titleFoNote">Creating new note</h3>
                </div>
                <div class="modal-body">
                    <div class="modal-body">
                        <input id="titleForNote" required type="text" placeholder="Title" class="form-control"/> <br/>
                        <textarea rows="10" id="descriptionNote" placeholder="Description"
                                  class="form-control"></textarea> <br/>
                        <textarea id="conclusionNote" placeholder="Conclusion" class="form-control"></textarea>
                        <br/>
                        <input id="keywordsNote" placeholder="Keywords" type="text" class="form-control"/><br/>
                        <select id="subjectNote" class="form-control"></select> <br/>
                        <select id="subSubjectNote" class="form-control"></select> <br/>
                        <select id="treatmentNote" class="form-control"></select> <br/>
                        <!--<select id="statusNote" class="form-control"></select> <br/>-->
                        <input id="countryNote" placeholder="Country" type="text" class="form-control"/><br/>
                        <input id="languageNote" placeholder="Language" type="text" class="form-control" hidden/><br/>
                        <div id="message-container"></div>
                    </div>
                    <hr/>
                    <div id="form-control" class="text-right">
                        <button id="submitButton" class="btn btn-info" onclick="createNote();">SUBMIT
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                    <!--</form>-->
                </div>
            </div>
        </div>
    </div>
</div>
<input id="titleNote" th:value="${param.title}" hidden/>
<input id="typeNote" th:value="${param.type}" hidden/>
</body>
</html>