<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>MedReview/main</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <script src="/javascript/jquery-3.1.1.min.js"></script>
    <script src="/javascript/bootstrap.min.js"></script>
    <script src="/javascript/checkRole.js"></script>
    <script src="/javascript/bootstrap-confirmation.js"></script>
    <script src="/javascript/jquery.twbsPagination.min.js"></script>
    <script src="/javascript/note.js"></script>
    <script src="/javascript/records.js"></script>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-1" style="margin-right: 20px;">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/records" class="glyphicon glyphicon-home"></a></li>
                <li><a href="/company" id="companyLink">Companies</a></li>
                <li><a href="/users" id="userLink">Users</a></li>
                <li><a href="/records" id="recordLink">Records</a></li>
                <li><a href="/subjects/view" >Category</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li style="margin-right: 50px;">
                    <!--Global search in all notes-->
                    <form method="get" action="/notes/results" class="navbar-form navbar-left">
                        <div class="input-group">
                            <input required type="text" class="form-control" name="t"
                                   placeholder="Search in all notes...">
                            <input hidden name="p" value="all">
                                  <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">Go!</button>
                                  </span>
                        </div>
                    </form>
                </li>
                <li>
                    <button onclick="location.href = '/logout';" type="button"
                            class="btn btn-danger navbar-btn btn-sm center-block">Sign out
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div id="table-container" class="container">
    <div id="record-header" class="row">
        <div class="col-md-8">
            <h4>All notes in <label th:text="${param.title}"></label></h4>
        </div>
        <div class="col-lg-4">
            <form method="get" action="/notes/results">
                <div class="input-group">
                    <input class="form-control" name="t" placeholder="Search in this record..."/>
                    <input hidden name="p" value=""/>
                    <input hidden type="text" name="title" th:value="${param.title}">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">Go!</button>
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><span
                                class="glyphicon glyphicon-option-vertical"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <span>Record info</span>
        </div>
        <div class="panel-body">
            <div id="noteHeader">
                <h5>Record name: <label th:text="${param.title}"></label></h5>
                <h5>Record type: <label th:text="${param.type}"></label></h5>
            </div>
            <button id="editRecordButton" class="btn btn-sm btn-default right" onclick="loadType(); loadStatus(); loadRecordEndSetData();"
                    data-toggle="modal"
                    data-target="#editRecord"> Edit record
            </button>
            <button id="endReview" class="btn btn-info" onclick="loadStatus(); loadRecordEndSetData();"
                    data-toggle="modal"
                    data-target="#endReviewModal"> Add end review
            </button>
        </div>
    </div>
    <hr/>
    <div class="table-responsive">
        <table class="table table-responsive table-hover table-striped">
            <thead>
            <tr>
                <th id="title">Title</th>
                <th id="description">Description</th>
                <th id="conclusion">Conclusion</th>
                <th id="keywords">Keywords</th>
                <th id="subject">Category</th>
                <th id="subSubject">Sub-category</th>
                <th id="treatment">Treatment</th>
                <th id="creationDate">Date created</th>
            </tr>
            </thead>
            <tbody id="table-body">
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button id="addNoteButton" type="button"
                    onclick=" loadSubject(); loadSubSubject(); loadTreatment();"
                    class="btn btn-info bottom-left"
                    data-toggle="modal"
                    data-target="#creteNote">Add note
            </button>
        </div>
        <div class="col-md-6 text-right">
            <ul id="pagination" class="pagination-sm"></ul>
        </div>
    </div>

    <!--Modal for create note-->
    <div id="creteNote" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h3 id="titleFoNote">Creating new note</h3>
                </div>
                <div class="modal-body">
                    <div class="modal-body">
                        <input id="titleForNote" required type="text" placeholder="Title" class="form-control"/> <br/>
                        <textarea rows="10" id="descriptionNote" placeholder="Description"
                                  class="form-control"></textarea> <br/>
                        <textarea id="conclusionNote" placeholder="Conclusion" class="form-control"></textarea>
                        <br/>
                        <input id="keywordsNote" placeholder="Keywords" type="text" class="form-control"/><br/>
                        <select id="subjectNote" class="form-control"></select> <br/>
                        <button id="createCategory" type="button"
                                class="btn btn-primary bottom-left form-control"
                                data-toggle="modal"
                                data-target="#newCategoryModal">Add new Category
                        </button>
                        <br/>
                        <br/>
                        <select id="subSubjectNote" class="form-control"></select> <br/>
                        <select id="treatmentNote" class="form-control"></select> <br/>
                        <input id="countryNote" placeholder="Country" type="text" class="form-control"/><br/>
                        <input id="languageNote" placeholder="Language" type="text" class="form-control" hidden/><br/>
                        <div id="message-container"></div>
                    </div>
                    <hr/>
                    <div id="form-control" class="text-right">
                        <button id="submitButton" class="btn btn-info" onclick="createNote();">SUBMIT
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Modal for create new category-->
    <div id="newCategoryModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4>Create new category/sub-category/treatment</h4>
                </div>
                <div class="modal-body">
                    <div class="modal-body">
                        Category: <select id="newCategory" class="form-control"></select> <br/> <br/>
                        Sub-Category:<select id="newSubCategory" class="form-control"></select> <br/><br/>
                        Treatment: <select id="newTreatment" class="form-control"></select> <br/>
                        <div id="new-message-container"></div>
                    </div>
                    <hr/>
                    <div id="new-form-control" class="text-right">
                        <button id="new-submitButton" class="btn btn-info" onclick="createEndReview();">SUBMIT
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Modal for end review-->
    <div id="endReviewModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4>Record name: <label th:text="${param.title}"></label></h4>
                    <h4>Record type: <label th:text="${param.type}"></label></h4>
                </div>
                <div class="modal-body">
                    <div class="modal-body">
                        <textarea rows="10" id="endDescription" placeholder="Description"
                                  class="form-control"></textarea> <br/>
                        <textarea id="endConclusion" placeholder="Conclusion" class="form-control"></textarea><br/>
                        <select id="endStatus" class="form-control"></select> <br/>
                        <div id="end-message-container"></div>
                    </div>
                    <hr/>
                    <div id="end-form-control" class="text-right">
                        <button id="end-submitButton" class="btn btn-info" onclick="createEndReview();">SUBMIT
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Modal for edit record-->
    <div id="editRecord" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4>EditRecord: <label th:text="${param.title}"></label></h4>
                </div>
                <div class="modal-body">
                    <div class="modal-body">
                        <input id="editTitle" type="text" placeholder="Title" class="form-control"/><br/>
                        <input id="editCountry" type="text" placeholder="Country" class="form-control"/><br/>
                        <select id="type" class="form-control"></select> <br/>
                        <textarea rows="10" id="editEndDescription" placeholder="Description"
                                  class="form-control"></textarea> <br/>
                        <textarea id="editEndConclusion" placeholder="Conclusion" class="form-control"></textarea><br/>
                        <div id="edit-message-container"></div>
                    </div>
                    <hr/>
                    <div id="edit-form-control" class="text-right">
                        <button id="edit-submitButton" class="btn btn-info" onclick="editRecord();">SUBMIT
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input id="titleNote" th:value="${param.title}" hidden/>
<input id="typeNote" th:value="${param.type}" hidden/>
</body>
</html>