<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>MedReview/main</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <script src="/javascript/jquery-3.1.1.min.js"></script>
    <script src="/javascript/bootstrap.min.js"></script>
    <script src="/javascript/checkRole.js"></script>
    <script src="/javascript/bootstrap-confirmation.js"></script>
    <script src="/javascript/jquery.twbsPagination.min.js"></script>
    <script src="/javascript/records.js"></script>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-1" style="margin-right: 20px;">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/company" id="companyLink">Companies</a></li>
                <li><a href="/users" id="userLink">Users</a></li>
                <li><a href="/records" id="recordLink">Records</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li style="margin-right: 50px;">
                    <form method="get" action="/records/results" class="navbar-form navbar-left">
                        <div class="input-group">
                            <input type="text" class="form-control" name="keyword" placeholder="Search in records...">
                                  <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">Go!</button>
                                  </span>
                        </div><!-- /input-group -->
                    </form>
                </li>
                <li>
                    <button onclick="location.href = '/logout';" type="button"
                            class="btn btn-danger navbar-btn btn-sm center-block">Sign out
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div id="table-container" class="container">
    <h3>All records</h3>
    <hr/>
    <div class="table-responsive">
        <table class="table table-responsive table-hover table-striped">
            <thead>
            <tr>
                <th>Title</th>
                <th>Type</th>
                <th>Author</th>
                <th>Date created</th>
                <th>Last modified</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="table-body">
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button id="addRecordButton" onclick="loadType();" type="button" class="btn btn-info bottom-left"
                    data-toggle="modal"
                    data-target="#creteRecord">Add record
            </button>
        </div>
        <div class="col-md-6 text-right">
            <ul id="pagination" class="pagination-sm"></ul>
        </div>
    </div>

    <!--Modal for create record-->
    <div id="creteRecord" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h3>Creating new record</h3>
                </div>
                <div class="modal-body">
                    <div id="form-container">
                            <div id="record-data">
                                <div class="form-group">
                                    <label>Title:</label>
                                    <input id="title" type="text" placeholder="Title" class="form-control"/>
                                </div>
                                <div class="form-group">
                                    <label>Type:</label>
                                    <select id="type" class="form-control"></select> <br/>
                                    <div id="message-container"></div>
                                </div>
                            </div>
                            <div id="form-control" class="text-right">
                                <button class="btn btn-info" onclick="createRecord();">SUBMIT</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input id="userName" th:value="${param.username}" hidden/>
<script th:if="${param.username}">
    loadRecordByUser();
</script>
<script th:unless="${param.username}">
    loadAllRecords();
</script>
</body>
</html>